apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: instagoric

resources:
  - ../../bases/shared
  - ../../bases/primaryvalidator
  - ../../bases/rpcnodes
  - ../../bases/validators
  - ../../bases/seed
  - ../../bases/ag-solo-manual
  - ../../bases/ag-solo-tasks
  - ../../bases/explorer

patches:
  - target:
      kind: StatefulSet
      name: ag-solo-manual
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
  - target:
      kind: StatefulSet
      name: validator
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
  - target:
      kind: StatefulSet
      name: ag-solo-tasks
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
