apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../node
  - service.yaml

commonLabels:
  app: seed

patches:
  - target:
      kind: StatefulSet
      name: node
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: 1000m
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: 1000m
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 2Gi
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 2Gi
      - op: replace
        path: /spec/replicas
        value: 1
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value: 
          name: ROLE
          value: seed
      - op: replace
        path: /spec/selector/matchLabels/app
        value: seed
      - op: replace
        path: /metadata/name
        value: seed
      - op: add
        path: /spec/serviceName
        value: seed-ext
      - op: replace
        path: /spec/volumeClaimTemplates/0/spec/resources/requests/storage
        value: 50Gi